header {
  position: fixed;
  height: 70px; /* ヘッダーの高さを固定 */
  top: 0;
  left: 0;
}

main {
  margin-top: 70px;
}

aside {
  flex-shrink: 0;
}

.flex-grow-1 {
  display: flex;
  flex-direction: column; /* 子要素を縦並びにする */
  height: 100%;
  overflow: hidden; /* 子要素のオーバーフローを防止 */
}

.card {
  flex-grow: 1; /* コンテンツが余った分の高さを占有 */
  display: flex;
  flex-direction: column; /* GroupTalk用の縦並び */
  height: 100%;
}

.list-group,
.list-unstyled {
  display: block;
  padding-left: 20px;
  text-align: left;
}

/* 各リストアイテムのデフォルト設定 */
.list-group-item {
  padding: 0;
  margin: 0;
  text-align: left;
  border: none;
}

/* 子リストの余計な中央配置を防ぐ */
.list-group-item > ul {
  margin-left: 20px; /* 必要に応じて固定インデント */
  padding-left: 0;
  text-align: left;
}

.group-toggle-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin-left: auto; /* ボタンを右端に配置 */
}

.rotate-icon {
  display: inline-block; /* 回転を適用可能にする */
  transition: transform 0.2s ease;
}

.rotated {
  transform: rotate(90deg); /* 折りたたみ表示 */
}

/* サイドバー開閉アイコン */
.sidebar-toggle-icon {
  background-color: #007bff;
  color: white;
  padding: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.sidebar-toggle-icon:hover {
  background-color: #0056b3;
}