/* トークルーム全体のレイアウト */
.talk-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

/* メッセージエリア */
.messages {
  flex-grow: 1; /* 残りのスペースを埋める */
  min-height: 540px;
  max-height: 540px;
  overflow-y: auto; /* スクロール可能にする */
  padding: 10px;
  background-color: #dedede;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

/* メッセージ全体 */
.message {
  display: flex;
  margin-bottom: 10px;
}

.message.own {
  justify-content: flex-end;
}

.message.other {
  justify-content: flex-start;
}

/* メッセージバブル */
.message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #007bff;
  color: white;
}

.message.own .message-bubble {
  background-color: #28a745; /* 自分のメッセージ用 */
  text-align: right;
}

/* メッセージテキスト */
.message-text {
  margin: 0;
  font-size: 14px;
}

/* メッセージ情報 */
.message-info {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  color: #ffffff;
}

/* メッセージ入力エリア */
.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  height: 60px; /* 固定の高さ */
}

.message-input textarea {
  flex-grow: 1;
  margin-right: 10px;
  height: 100%; /* 入力エリアの高さを100%に */
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.message-input button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
