header {
  width: auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 40px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

aside {
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.nav-link {
  color: #333;
  margin-bottom: 8px;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff;
}
