header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
  }
  
  body {
    overflow-y: scroll;
  }
  
  main {
    margin-top: 70px;
    height: calc(100vh - 70px); 
    overflow: hidden;
    display: flex;
  }
  
  aside {
    flex-shrink: 0;
  }
  
  .maincontent {
    background-color: rgb(235, 235, 235);
    padding-left: 4.5rem;
  }
  
  .flex-grow-1 {
    display: flex;
    flex-direction: column; 
    width: auto;
    overflow: hidden;
  }
  
  .card {
    display: flex;
    flex-direction: column; 
    --bs-card-border-width: 0;
  }
  
  .group-toggle-btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: auto;
  }
  
  .rotate-icon {
    display: inline-block; 
    transition: transform 0.2s ease;
  }
  
  .rotated {
    transform: rotate(90deg); /* 折りたたみ表示 */
  }
  
  .sidebar-toggle-icon {
    background-color: #007bff;
    color: white;
    padding: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .sidebar-toggle-icon:hover {
    background-color: #0056b3;
  }